<form class="form-signin text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div *ngIf="!mfaStep">
					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
					<div class="form-group">
						<label for="inputEmail" class="sr-only">Email address</label>
						<input
							id="inputEmail" required type="email" maxlength="100"
							class="form-control" [(ngModel)]="email" placeholder="Email address"
							[ngModelOptions]="{standalone: true}" autofocus>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="sr-only">Password</label>
						<input
							id="inputPassword" required type="password" maxlength="25"
							class="form-control" length="40" [(ngModel)]="password"
							[ngModelOptions]="{standalone: true}" placeholder="Password">
					</div>
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<div class="form-group">
						<button (click)="onLogin('cognito')" id="signupSubmit" type="submit"
								class="btn btn-lg btn-primary btn-block">Sign in
						</button>
					</div>
					<p>
						<a [routerLink]="['/home/register']">
							<i class="fa fa-fw fa-group"></i> Register
						</a>
						<a [routerLink]="['/home/forgotPassword']">
							<i class="fa fa-fw fa-group"></i> Forgot Password?
						</a>
						<br/>
						<a [routerLink]="['/home/resendCode']">
							<i class="fa fa-fw fa-group"></i> Resend Confirmation Code
						</a>
					</p>
					<div class="form-group">
						<h1 class="h5 mb-3 font-weight-light">or sign up using</h1>
						<button (click)="onLogin('facebook')" id="facebookLogin" type="submit"
								class="btn btn-social btn-facebook">
							<span class="fa fa-facebook"></span>Sign in with Facebook
						</button>
					</div>
					<div class="form-group">
						<button (click)="onLogin('google')" id="googleLogin" type="submit"
								class="btn btn-social btn-google">
							<span class="fa fa-google"></span>Sign in with Google
						</button>
					</div>
				</div>
				<div class="form-group" *ngIf="mfaStep">
					<awscognito-mfa [destination]="mfaData.destination"
									[onSubmit]="mfaData.callback"></awscognito-mfa>
					<hr>
					<a (click)="cancelMFA()" href="">Cancel</a>
				</div>
			</div>
		</div>
	</div>
	<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</form>

